<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <label for="name"></label>
    <input type="text" placeholder="Username" th:field="*{username}" id="name" />
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="username"></div>
    <br/>

    <label for="password"></label>
    <input type="password" placeholder="Password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="password"></div>
    <br/>
    <input type="submit" value="Create!"/>

</form>
<br/>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>