<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
    </script>
    <!--    <script src="js/jquery-3.7.1.min.js"></script>-->

</head>
<body>
<div class="container-fluid">
    <div class="row bg-dark text-white">
        <div class="col-3">
            <div style="color: white">
                <div class="mx-auto p-2 "><a
                        th:text="${user.username} + ' with roles: ' + ${user.rolesToString}">
                </a></div>
            </div>
        </div>
        <div class="col-8">
        </div>
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn bg-dark text-white-50" style>Logout</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-2 g-0 gy-2">
            <ol class="list-group d-flex flex-column min-vh-100 ">
                <li class="container-fluid">
                    <a href="http://localhost:8080/admin" sec:authorize="hasAuthority('ADMIN')"
                       class="list-group-item active" style="margin-left: 10px; "
                       aria-current="true">Admin</a>
                    <a href="http://localhost:8080/user" sec:authorize="hasAuthority('USER')" class="list-group-item "
                       style="margin-left: 10px; ">
                        User</a>
                </li>
            </ol>
        </div>

        <div class="col-10 bg-body-secondary bg-opacity-50 flex-grow-1 px-4">
            <div class="p-1 my-1"><h1>Admin page</h1></div>
            <div class="container mt-4 justify-content-start ">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active text-start" id="tab1-tab" data-bs-toggle="tab"
                                data-bs-target="#tab1"
                                type="button"
                                role="tab" aria-controls="tab1" aria-selected="true">Users table
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2"
                                type="button" role="tab"
                                aria-controls="tab2" aria-selected="false">New User
                        </button>
                    </li>
                </ul>
                <div class="container bg-white border border-2 rounded-top-1 rounded-bottom-1 ">
                    <div class="row bg-secondary bg-opacity-10 rounded-top-1 border-bottom ">
                        <div class="col-sm align-self-start p-2 my-1" style="width: 50%; margin-left: 10px;">
                            <h5 id="h">All users</h5>
                        </div>
                    </div>
                    <div class="container ">
                        <div class="tab-content " id="myTabContent">
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel"
                                 aria-labelledby="tab1-tab">

                                <table class="table table-striped mt-3 table-borderless">
                                    <thead>
                                    <tr class="border border-top border-end-0 border-start-0 border-bottom-0">
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody class="border border-top border-end-0 border-start-0 border-bottom-0">
                                    <tr th:each="User : ${users}">
                                        <td th:text="*{User.id}"></td>
                                        <td th:text="*{User.firstName}"></td>
                                        <td th:text="*{User.lastName}"></td>
                                        <td th:text="*{User.age}"></td>
                                        <td th:text="*{User.username}"></td>
                                        <td th:text="*{User.rolesToString}"></td>
                                        <td>
                                            <button type="button" class="btn btn-info text-white"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal"
                                                    th:data-id="*{User.id}"> Edit
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button"
                                                    class="btn btn-danger text-white" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal"
                                                    th:data-id="${User.id}">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="tab-pane fade centered-block" id="tab2"
                                 role="tabpanel"
                                 aria-labelledby="tab2-tab">
                                <div class="col-13" style="text-align: center;">
                                    <form th:method="POST" th:action="@{/admin/new}" th:object="${newUser}">

                                        <div class="mb-3">
                                            <label><b>First name</b></label>
                                            <br/>
                                            <input type="text" placeholder="firstName" th:field="*{firstName}"/>
                                            <div style="color:red" th:if="${#fields.hasErrors('firstName')}"
                                                 th:errors="firstName"></div>
                                        </div>

                                        <div class="mb-3">
                                            <label><b>Last name</b></label>
                                            <br/>
                                            <input type="text" placeholder="lastName" th:field="*{lastName}"/>
                                            <div style="color:red" th:if="${#fields.hasErrors('lastName')}"
                                                 th:errors="lastName"></div>
                                        </div>

                                        <div class="mb-3">
                                            <label><b>Age</b></label>
                                            <br/>
                                            <input type="number" placeholder="age" th:field="*{age}"/>
                                            <div style="color:red" th:if="${#fields.hasErrors('age')}"
                                                 th:errors="age"></div>
                                        </div>

                                        <div class="mb-3">
                                            <label><b>Email</b></label>
                                            <br/>
                                            <input type="email" placeholder="username" th:field="*{username}"/>
                                            <div style="color:red" th:if="${#fields.hasErrors('username')}"
                                                 th:errors="username"></div>
                                        </div>

                                        <div class="mb-3">
                                            <label><b>Password</b></label>
                                            <br/>
                                            <input type="text" placeholder="password" th:field="*{password}"/>
                                            <div style="color:red" th:if="${#fields.hasErrors('password')}"
                                                 th:errors="password"></div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="roles"><b>Role</b></label>
                                            <br/>
                                            <select name="roles" id="roles" size="2" multiple>
                                                <option th:each="role : ${allRoles}" th:value="${role.id}"
                                                        th:text="${role.name}"></option>
                                            </select>
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-success"
                                               value="Add new user"/>
                                    </form>
                                </div>
                            </div>

                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Закрыть"></button>
                                        </div>
                                        <div>
                                            <div class="col modal-body" th:align="center">
                                                <form th:object="${userToEdit}" id="myForm1">
                                                    <div class="mb-3">
                                                        <label for="Id1"><b>Id</b></label>
                                                        <br>
                                                        <input type="text" placeholder="id" th:field="*{id}"
                                                               id="Id1"
                                                               disabled/>
                                                        <div style="color:red" th:if="${#fields.hasErrors('id')}"
                                                             th:errors="userid" disabled="true"></div>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="firstName1"><b>First name</b></label>
                                                        <br>
                                                        <input type="text" placeholder="firstName"
                                                               th:field="*{firstName}"
                                                               id="firstName1"/>
                                                        <div style="color:red"
                                                             th:if="${#fields.hasErrors('firstName')}"
                                                             th:errors="firstName"></div>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="lastName1"><b>Last name</b></label>
                                                        <br>
                                                        <input type="text" placeholder="lastName"
                                                               th:field="*{lastName}"
                                                               id="lastName1"/>
                                                        <div style="color:red"
                                                             th:if="${#fields.hasErrors('lastName')}"
                                                             th:errors="lastName"></div>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="age1"><b>Age</b></label>
                                                        <br>
                                                        <input type="number" placeholder="age" id="age1"/>
                                                        <div style="color:red" th:if="${#fields.hasErrors('age')}"
                                                             th:errors="age"></div>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="username1"><b>Email</b></label>
                                                        <br>
                                                        <input type="email" placeholder="username"
                                                               th:field="*{username}"
                                                               id="username1"/>
                                                        <div style="color:red"
                                                             th:if="${#fields.hasErrors('username')}"
                                                             th:errors="username"></div>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="password1"><b>Password</b></label>
                                                        <br/>
                                                        <input type="password" placeholder="password"
                                                               th:field="*{password}"
                                                               id="password1"/>
                                                        <div style="color:red"
                                                             th:if="${#fields.hasErrors('password')}"
                                                             th:errors="password"></div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="roles1"><b>Role</b></label>
                                                        <br/>
                                                        <select id="roles1" name="roles1" multiple size="2">
                                                            <option th:each="role : ${allRoles}"
                                                                    th:value="${role.id}"
                                                                    th:text="${role.name}"></option>
                                                        </select>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" id="action"
                                                                class="btn btn-primary">Click
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    const exampleModal = document.getElementById('exampleModal');
    const btn = document.getElementById('myForm1');
    // bdn = document.querySelectorAll('.btn-warning')
    let getURL = undefined
    let postURL = undefined
    let id = null;
    if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', event => {
            const editButton = document.querySelectorAll('.btn-info')
            const deleteButton = document.querySelectorAll('.btn-danger')
            editButton.forEach(button => {
                button.addEventListener('click', function () {
                    id = button.getAttribute('data-id')
                    document.getElementById('Id1').value = id;
                    getURL = 'http://localhost:8080/admin/edit/' + id;
                    document.getElementById('firstName1').disabled = false;
                    document.getElementById('lastName1').disabled = false;
                    document.getElementById('age1').disabled = false;
                    document.getElementById('username1').disabled = false;
                    document.getElementById('password1').disabled = false;
                    document.getElementById('roles1').disabled = false;
                    postURL = getURL
                    document.getElementById('action').innerText = 'Edit';
                    document.getElementById('exampleModalLabel').innerText = "Edit user"
                    fetch(getURL)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Сетевая ошибка: ' + response.status);
                            }
                            return response.text();
                        })
                        .then(data => {
                            const parser = new DOMParser();
                            const doc = parser.parseFromString(data, 'text/html');
                            const inputElement2 = doc.getElementById('firstName');
                            const inputElement3 = doc.getElementById('lastName')
                            const inputElement4 = doc.getElementById('age');
                            const inputElement5 = doc.getElementById('username')
                            const inputElement6 = doc.getElementById('password');
                            document.getElementById('firstName1').value = inputElement2.value;
                            document.getElementById('lastName1').value = inputElement3.value;
                            document.getElementById('age1').value = inputElement4.value;
                            document.getElementById('username1').value = inputElement5.value;
                            document.getElementById('password1').value = inputElement6.value;

                        })
                        .catch(error => {
                            console.error('Ошибка при запросе:', error);
                        });
                })
            })

            deleteButton.forEach(button => {
                button.addEventListener('click', function () {
                    id = button.getAttribute('data-id')
                    document.getElementById('Id1').value = id;
                    getURL = 'http://localhost:8080/admin/edit/' + id;
                    document.getElementById('firstName1').disabled = true;
                    document.getElementById('lastName1').disabled = true;
                    document.getElementById('age1').disabled = true;
                    document.getElementById('username1').disabled = true;
                    document.getElementById('password1').disabled = true;
                    document.getElementById('roles1').disabled = true;
                    document.getElementById('action').innerText = "Delete";
                    document.getElementById('exampleModalLabel').innerText = "Delete user"
                    postURL = 'http://localhost:8080/admin/delete/' + id;
                    fetch(getURL)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Сетевая ошибка: ' + response.status);
                            }
                            return response.text();
                        })
                        .then(data => {
                            const parser = new DOMParser();
                            const doc = parser.parseFromString(data, 'text/html');
                            const inputElement2 = doc.getElementById('firstName');
                            const inputElement3 = doc.getElementById('lastName')
                            const inputElement4 = doc.getElementById('age');
                            const inputElement5 = doc.getElementById('username')
                            const inputElement6 = doc.getElementById('password');
                            document.getElementById('firstName1').value = inputElement2.value;
                            document.getElementById('lastName1').value = inputElement3.value;
                            document.getElementById('age1').value = inputElement4.value;
                            document.getElementById('username1').value = inputElement5.value;
                            document.getElementById('password1').value = inputElement6.value;
                        })
                        .catch(error => {
                            console.error('Ошибка при запросе:', error); // Обработка ошибок
                        });
                })
            })

            btn.addEventListener('submit', async function (e) {
                e.preventDefault();
                if (id && postURL) {
                    const formData = new FormData();
                    formData.append('id', id);
                    formData.append('username', document.getElementById('username1').value);
                    formData.append('firstName', document.getElementById('firstName1').value);
                    formData.append('lastName', document.getElementById('lastName1').value);
                    formData.append('password', document.getElementById('password1').value);
                    formData.append('age', document.getElementById('age1').value);
                    const roleSelect = document.getElementById('roles1');

                    const selectedOptions = [];
                    for (let i = 0; i < roleSelect.options.length; i++) {
                        if (roleSelect.options[i].selected) {
                            selectedOptions.push(roleSelect.options[i].value);
                        }
                    }
                    formData.append('roles', selectedOptions);
                    fetch(postURL, {
                        method: 'POST',
                        body: formData,
                    })
                        .then(response => {
                            if (response.ok) {
                                location.reload()
                            }
                        })
                        .catch((error) => {
                            window.alert(error.toString())
                        });
                }
            });

        })
    }
    document.getElementById("tab1-tab").addEventListener('click', event => {
        document.getElementById('h').innerText = "All users"
    })
    document.getElementById("tab2-tab").addEventListener('click', event => {
        document.getElementById('h').innerText = "Add new user"
    })
</script>

</body>
</html>